.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

[data-theme='dark'] .features {
  background-color: #121212;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
